[submodule "oh-my-zsh"]
    path = oh-my-zsh
    url = https://github.com/robbyrussell/oh-my-zsh
    branch = master
[submodule "vim"]
    path = vim
    url = https://github.com/kensimon/vimconfig
    branch = master
[submodule "rbenv"]
    path = rbenv
    url = https://github.com/sstephenson/rbenv
