[submodule "bundle/puppet"]
	path = bundle/puppet
	url = https://github.com/rodjek/vim-puppet.git
    branch = master
[submodule "bundle/syntax_glsl"]
	path = bundle/syntax_glsl
	url = https://github.com/beyondmarc/glsl.vim.git
    branch = master
[submodule "bundle/golang"]
	path = bundle/golang
	url = https://github.com/jnwhiteh/vim-golang.git
    branch = master
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
    branch = master
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/vim-protobuf"]
	path = bundle/vim-protobuf
	url = https://github.com/uarun/vim-protobuf.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "bundle/rust"]
	path = bundle/rust
	url = https://github.com/wting/rust.vim
[submodule "bundle/scala"]
	path = bundle/scala
	url = https://github.com/derekwyatt/vim-scala
[submodule "bundle/vim-jade"]
	path = bundle/vim-jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule "bundle/vim-jsx"]
	path = bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx
[submodule "bundle/vim-gradle"]
	path = bundle/vim-gradle
	url = https://github.com/tfnico/vim-gradle
[submodule "bundle/vim-jsonnet"]
	path = bundle/vim-jsonnet
	url = https://github.com/google/vim-jsonnet
